.sitemapToolbar .locationIcon {
  margin-left: 3px;
  margin-right: 2px;
  color: #4a4a4a;
  background: url('data:image/svg+xml,%3Csvg%20t%3D%221692942903611%22%20class%3D%22icon%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%228424%22%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%234a4a4a%22%3E%3Cpath%20d%3D%22M512%2076.8a25.6%2025.6%200%200%201%2025.1904%2020.992L537.6%20102.4v52.1216A358.4512%20358.4512%200%200%201%20869.4784%20486.4L921.6%20486.4a25.6%2025.6%200%200%201%204.608%2050.7904L921.6%20537.6h-52.1216a358.4512%20358.4512%200%200%201-331.8784%20331.8784V921.6a25.6%2025.6%200%200%201-50.7904%204.608L486.4%20921.6v-52.1216A358.4512%20358.4512%200%200%201%20154.5728%20537.6H102.4a25.6%2025.6%200%200%201-4.608-50.7904L102.4%20486.4h52.1216A358.4512%20358.4512%200%200%201%20486.4%20154.5728L486.4%20102.4a25.6%2025.6%200%200%201%2025.6-25.6zM512%20204.8a307.2%20307.2%200%201%200%200%20614.4%20307.2%20307.2%200%200%200%200-614.4z%20m0%20153.6a153.6%20153.6%200%201%201%200%20307.2%20153.6%20153.6%200%200%201%200-307.2z%22%20p-id%3D%228425%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') center / contain no-repeat;
}

.sitemapNode .sitemapHighlight {
  background-color: #cfcfcf;
}
